# Google BigQuery: Gathering the GKG Data

---

Nate Bukowski

> Description of the GKG Dataset and the reasoning behind these querys.

In [1]:
# imports
import pandas as pd
import numpy as np

from google.cloud import bigquery

%load_ext google.cloud.bigquery

In [2]:
# Construct a BigQuery client object
client = bigquery.Client()

In [3]:
# January Query

jan_days = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15',
            '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']
january_dfs = []

for day in jan_days:
    print(f'Fetching January, {day} data.')
    
    jan_sql = f'''
    SELECT gkg.DATE, gkg.V2Locations, gkg.V2Themes, gkg.V2Tone
    FROM `gdelt-bq.gdeltv2.gkg` AS gkg
    WHERE gkg.V2Themes LIKE "%SHORTAGE%"
        AND gkg.DATE BETWEEN 202001{day}000000 AND 202001{day}240000
    ORDER BY gkg.DATE DESC
    LIMIT 10
    '''
    
    gkg_jan = client.query(jan_sql).to_dataframe()
    
    january_dfs.append(gkg_jan)
    
print('All done!')

Fetching January, 01 data.
Fetching January, 02 data.
Fetching January, 03 data.
Fetching January, 04 data.
Fetching January, 05 data.
Fetching January, 06 data.
Fetching January, 07 data.
Fetching January, 08 data.
Fetching January, 09 data.
Fetching January, 10 data.
Fetching January, 11 data.
Fetching January, 12 data.
Fetching January, 13 data.
Fetching January, 14 data.
Fetching January, 15 data.
Fetching January, 16 data.
Fetching January, 17 data.
Fetching January, 18 data.
Fetching January, 19 data.
Fetching January, 20 data.
Fetching January, 21 data.
Fetching January, 22 data.
Fetching January, 23 data.
Fetching January, 24 data.
Fetching January, 25 data.
Fetching January, 26 data.
Fetching January, 27 data.
Fetching January, 28 data.
Fetching January, 29 data.
Fetching January, 30 data.
Fetching January, 31 data.
All done!

In [4]:
# February Query

feb_days = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15',
            '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29']
february_dfs = []

for day in feb_days:
    print(f'Fetching February, {day} data.')
    
    feb_sql = f'''
    SELECT gkg.DATE, gkg.V2Locations, gkg.V2Themes, gkg.V2Tone
    FROM `gdelt-bq.gdeltv2.gkg` AS gkg
    WHERE gkg.V2Themes LIKE "%SHORTAGE%"
        AND gkg.DATE BETWEEN 202002{day}000000 AND 202002{day}240000
    ORDER BY gkg.DATE DESC
    LIMIT 10
    '''
    
    gkg_feb = client.query(feb_sql).to_dataframe()
    
    february_dfs.append(gkg_feb)
    
print('All done!')

Fetching February, 01 data.
Fetching February, 02 data.
Fetching February, 03 data.
Fetching February, 04 data.
Fetching February, 05 data.
Fetching February, 06 data.
Fetching February, 07 data.
Fetching February, 08 data.
Fetching February, 09 data.
Fetching February, 10 data.
Fetching February, 11 data.
Fetching February, 12 data.
Fetching February, 13 data.
Fetching February, 14 data.
Fetching February, 15 data.
Fetching February, 16 data.
Fetching February, 17 data.
Fetching February, 18 data.
Fetching February, 19 data.
Fetching February, 20 data.
Fetching February, 21 data.
Fetching February, 22 data.
Fetching February, 23 data.
Fetching February, 24 data.
Fetching February, 25 data.
Fetching February, 26 data.
Fetching February, 27 data.
Fetching February, 28 data.
Fetching February, 29 data.
All done!

In [5]:
# March Query

mar_days = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15',
            '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']
march_dfs = []

for day in mar_days:
    print(f'Fetching March, {day} data.')
    
    mar_sql = f'''
    SELECT gkg.DATE, gkg.V2Locations, gkg.V2Themes, gkg.V2Tone
    FROM `gdelt-bq.gdeltv2.gkg` AS gkg
    WHERE gkg.V2Themes LIKE "%SHORTAGE%"
        AND gkg.DATE BETWEEN 202003{day}000000 AND 202003{day}240000
    ORDER BY gkg.DATE DESC
    LIMIT 10
    '''
    
    gkg_mar = client.query(mar_sql).to_dataframe()
    
    march_dfs.append(gkg_mar)
    
print('All done!')

Fetching March, 01 data.
Fetching March, 02 data.
Fetching March, 03 data.
Fetching March, 04 data.
Fetching March, 05 data.
Fetching March, 06 data.
Fetching March, 07 data.
Fetching March, 08 data.
Fetching March, 09 data.
Fetching March, 10 data.
Fetching March, 11 data.
Fetching March, 12 data.
Fetching March, 13 data.
Fetching March, 14 data.
Fetching March, 15 data.
Fetching March, 16 data.
Fetching March, 17 data.
Fetching March, 18 data.
Fetching March, 19 data.
Fetching March, 20 data.
Fetching March, 21 data.
Fetching March, 22 data.
Fetching March, 23 data.
Fetching March, 24 data.
Fetching March, 25 data.
Fetching March, 26 data.
Fetching March, 27 data.
Fetching March, 28 data.
Fetching March, 29 data.
Fetching March, 30 data.
Fetching March, 31 data.
All done!

In [6]:
# April Query

apr_days = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15',
            '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30']
april_dfs = []

for day in apr_days:
    print(f'Fetching April, {day} data.')
    
    apr_sql = f'''
    SELECT gkg.DATE, gkg.V2Locations, gkg.V2Themes, gkg.V2Tone
    FROM `gdelt-bq.gdeltv2.gkg` AS gkg
    WHERE gkg.V2Themes LIKE "%SHORTAGE%"
        AND gkg.DATE BETWEEN 202004{day}000000 AND 202004{day}240000
    ORDER BY gkg.DATE DESC
    LIMIT 10
    '''
    
    gkg_apr = client.query(apr_sql).to_dataframe()
    
    april_dfs.append(gkg_apr)
    
print('All done!')

Fetching April, 01 data.
Fetching April, 02 data.
Fetching April, 03 data.
Fetching April, 04 data.
Fetching April, 05 data.
Fetching April, 06 data.
Fetching April, 07 data.
Fetching April, 08 data.
Fetching April, 09 data.
Fetching April, 10 data.
Fetching April, 11 data.
Fetching April, 12 data.
Fetching April, 13 data.
Fetching April, 14 data.
Fetching April, 15 data.
Fetching April, 16 data.
Fetching April, 17 data.
Fetching April, 18 data.
Fetching April, 19 data.
Fetching April, 20 data.
Fetching April, 21 data.
Fetching April, 22 data.
Fetching April, 23 data.
Fetching April, 24 data.
Fetching April, 25 data.
Fetching April, 26 data.
Fetching April, 27 data.
Fetching April, 28 data.
Fetching April, 29 data.
Fetching April, 30 data.
All done!

In [7]:
# May Query

may_days = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
may_dfs = []

for day in may_days:
    print(f'Fetching May, {day} data.')
    
    may_sql = f'''
    SELECT gkg.DATE, gkg.V2Locations, gkg.V2Themes, gkg.V2Tone
    FROM `gdelt-bq.gdeltv2.gkg` AS gkg
    WHERE gkg.V2Themes LIKE "%SHORTAGE%"
        AND gkg.DATE BETWEEN 202005{day}000000 AND 202005{day}240000
    ORDER BY gkg.DATE DESC
    LIMIT 10
    '''
    
    gkg_may = client.query(may_sql).to_dataframe()
    
    may_dfs.append(gkg_may)
    
print('All done!')

Fetching May, 01 data.
Fetching May, 02 data.
Fetching May, 03 data.
Fetching May, 04 data.
Fetching May, 05 data.
Fetching May, 06 data.
Fetching May, 07 data.
Fetching May, 08 data.
Fetching May, 09 data.
Fetching May, 10 data.
Fetching May, 11 data.
Fetching May, 12 data.
All done!

In [8]:
# Concatenate all df lists into individual dfs.
january = pd.concat(january_dfs)
february = pd.concat(february_dfs)
march = pd.concat(march_dfs)
april = pd.concat(april_dfs)
may = pd.concat(may_dfs)

In [9]:
# Concatenate all monthly dfs into one master df for 2020.
master = pd.concat([january, february, march, april, may])

In [10]:
# Convert all dfs to .csv files.
january.to_csv('./jan_raw.csv', index=False)
february.to_csv('./feb_raw.csv', index=False)
march.to_csv('./march_raw.csv', index=False)
april.to_csv('./april_raw.csv', index=False)
may.to_csv('./may_raw.csv', index=False)
master.to_csv('./master_raw.csv', index=False)